name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: rustup target add
        run: rustup target add aarch64-apple-darwin aarch64-apple-ios aarch64-apple-ios-sim x86_64-apple-ios
      - name: Build
        run: cargo build --verbose
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          mise_toml: |
            [tools]
            tuist = "4.17.0"
      - name: Run tests
        run: cargo test --verbose
  fmt_and_clippy:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build
        run: cargo fmt --check
      - name: Run tests
        run: cargo clippy -- -Dwarnings
